.btn-sq {
  width: 100px;
  height: 100px !important;
}

.btn-sq-prod {
  width: 150px !important;
  height: 150px !important;
}


.category{
	margin-top: 10px;
    margin-bottom: 10px;
}

.checkout-item-el {
	
	display:inline-block

}


.checkout-list {
	
	height:400px;
	
}

.checkout-total {
    align-self: flex-end;
    border-top: 1px solid black;
}

.modal-backdrop.in {
    opacity: 0.8;
}

/* box-shadow
    font-size: 12px;
    background: linear-gradient( rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) ), URL("https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Mallard2.jpg/1200px-Mallard2.jpg");
    background-size: cover;
    background-position: center center;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

 */