body {
    background-color: moccasin;
}

.prices-background {
    background-image: url('../images/bg_rtl875.jpg');
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    align-items: center;
}

.prices {
    max-width: 50%;
    background-color: RGBA(255, 255, 255, 0.7);
    border: 1px solid black;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

.timer {
    background-color: #1162e9;
    padding: 2pt;
    color: #FFF;
    font-size: 20pt;
    margin-top: 10pt;
}