PROJECT=
PROJECT_FQDN=
PROJECT_ENTRYPOINT=
CONTAINER_SUBNET=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_USERNAME=dbuser
MW_ADMIN_PASSWORD=
MW_CHOST_IP=
MW_DEBUG=0
MW_IP_WHITELIST=
MW_NET=
MW_PORT=
