PROJECT=
PROJECT_CERT_RESOLVER=
PROJECT_DOMAIN_MAIN=
PROJECT_DOMAIN_SANS=
PROJECT_ENTRYPOINT=
PROJECT_FQDN=
PROJECT_IP_WHITELIST=
CONTAINER_SUBNET=
DB_DATABASE=
DB_HOST=
DB_PASSWORD=
DB_ROOT_PASSWORD=
DB_USERNAME=dbuser
MW_ADMIN_PASSWORD=
MW_CHOST_IP=
MW_DEBUG=0
MW_IP_WHITELIST=
